<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Board</h1>
    <table class="rwd-table" style="width: 40%">
        <thead>
        <tr>
            <th>ID</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="list : ${boardList}">
            <td data-th="Supplier Code" th:text="${list.id}">
            </td>
            <td data-th="Supplier Name"><a th:text="${list.title}" th:href="@{/boardView/{id}(id = ${list.id})}" style="text-decoration: none; color: black;"></a>
            </td>
            <td data-th="Invoice Number" th:text="${list.writer}">
            </td>
            <td data-th="Due Date" th:text="${#strings.substring(list.regdate, 0, 10)}">
            </td>
            <td data-th="Net Amount" th:text="${list.hit}">
            </td>
        </tr>
        </tbody>
    </table>
    <div class="writeBtn" style="margin-top: 20px; margin-left: 37%;"><a href="/boardWrite" class="btn-gradient blue mini">글쓰기</a></div>

    <h3>Resize Me</h3>
</div>
</body>
<script>
</script>
</html>