<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<body>

<article>
    <div class="container" role="main">

        <h2>board Content</h2>

        <div class="bg-white rounded shadow-sm">
            <th:block>
                <table class="rwd-table" style="width: 60%">
                    <tbody th:each="view : ${boardView}">
                    <tr>
                        <th>ID</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>내용</th>
                        <th>작성일</th>
                        <th>수정일</th>
                        <th>조회수</th>
                    </tr>
                    <tr>
                        <td data-th="Supplier Code" th:text="${view.id}" id="id">
                        </td>
                        <td data-th="Supplier Name" th:text="${view.title}">
                        </td>
                        <td data-th="Invoice Number" th:text="${view.writer}">
                        </td>
                        <td data-th="Invoice Number" th:text="${view.contents}">
                        </td>
                        <td data-th="Due Date" th:text="${#temporals.format(view.regdate, 'yyyy-MM-dd HH:mm:ss')}">
                        </td>
                        <td data-th="Due Date" th:text="${#temporals.format(view.updateDate, 'yyyy-MM-dd HH:mm:ss')}">
                        </td>
                        <td data-th="Net Amount" th:text="${view.hit}">
                        </td>
                    </tr>
                    </tbody>
                </table>

            </th:block>
        </div>
        <div style="margin-top : 20px">
            <button type="button" class="btn btn-sm btn-primary" id="btnUpdate" onclick="goUpdate()">수정</button>
            <button type="button" class="btn btn-sm btn-primary" id="btnDelete">삭제</button>
            <button type="button" class="btn btn-sm btn-primary" id="btnList" onclick="goList()">목록</button>
        </div>

    </div>
</article>

</body>
<script>
$(()=>{
    $("#btnDelete").click(()=>{
        let id = $("#id").text();
		console.log('id : ' + id);

        $.ajax({
            url:"/boardView/delete",
            data:{id:id},
            dataType:"json",
            method:"post"
        })
        .done((res)=>{
            console.log(res);
            alert(res.ok);
            location.href="/boardList";
        })
        .fail((res, status, error)=>{
            console.log(status);
            console.log(error);
        });
    });
});

function goList() {
    location.href = "/boardList";
}

function goUpdate() {
    let id = $("#id").text();
	console.log('id : ' + id);

    location.href = "/boardWrite?id=" + id;
}
</script>
</html>