<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디 찾기</title>
    <link rel="stylesheet" href="/static/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<body>

<div class="login-wrapper">
    <h2>아이디 찾기</h2>
    <form id="findIdFrm">
        <input type="text" name="userName" id="userName" placeholder="이름"/>
        <input type="email" name="email" id="email" placeholder="이메일"/>
        <span id="findUserId"></span>
        <input type="button" id="findIdBtn" value="찾기"/>
    </form>
    <a href="/findPw">비밀번호 찾기</a>&nbsp;&nbsp;ㅣ&nbsp;&nbsp;
    <a href="/login">로그인</a>&nbsp;&nbsp;ㅣ&nbsp;&nbsp;
    <a href="/join">회원가입</a>
</div>

</body>
</html>
<script>
    $(()=>{
        $("#findIdBtn").click(()=>{
            let userName = $("#userName").val().trim();
            let email = $("#email").val().trim();
            let frm = $("#findIdFrm").serialize();

            console.log(userName);
            console.log(email);
            console.log(frm);

            if (userName=="") {
                alert("이름을 입력하세요");
                $("#userName").focus();
                return;
            }
            if (email=="") {
                alert("이메일을 입력하세요");
                $("#email").focus();
                return;
            }

            $.ajax({
                url:"/findId_proc",
                data:frm,
                dataType:"json",
                method:"post"
            })
            .done((res)=>{
                console.log(res);
                if (res.not != null) {
                    alert(res.not);
                    $("#email").focus();
                }
                if (res.ok != null) {
                    $("#findUserId").text('아이디는 ' + res.ok + ' 입니다');
                }
            })
            .fail((res, status, error)=>{
                console.log(status);
                console.log(error);
            });
        });
    });
</script>